<h1>WebMonitor</h1>
<table class="ranking">
  <tr>
    <td>
      Rank
    </td>
    <td>
      Address
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      <a href="http://just-a-test.com">http://just-a-test.com</a>
    </td>
  </tr>
</table>
